@import '../../n1-main/m1-ui/common/components/sass/variables';

.table {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    h1 {
        align-self: center;
    }
    .settings {
        display: flex;
        flex-direction: column;
        //border: 1px solid red;
        .settingEl {
            margin-top: 5px;
        }
        .radioLabel {
            display: flex;
            div {
                margin-right: 5px;
            }
        }
        .input {
            width: 40px;
            margin-left: 5px;
            text-align: center;
            //border: 1px solid red;
        }
        .dynamicLabel {
            border: 1px solid red;
            display: flex;
            max-width: 170px;
        }
    }


    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border: 3px solid $primaryColor;
        height: 60px;
        margin-top: 10px;

        div {
            width: 250px;
            display: flex;
            justify-content: center;
        }
    }

    .style1 {
        border: 2px solid $primaryColor;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
}