.table {
    margin: 0 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .button {
    }

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;
        height: 50px;
        div {
            width: 250px;
            display: flex;
            justify-content: center;
        }
    }

    .style1 {
        border: 1px solid green;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .style2 {
        border: 1px solid lime;
        width: 100%;

        .style3 {
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
        }
    }
}