@import '../../../n1-main/m1-ui/common/components/sass/variables';

.tableHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $primaryColor;
    height: 60px;
    margin-top: 10px;

    div {
        width: 250px;
        display: flex;
        justify-content: center;
    }
}