.cardsPack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    div {
        width: 200px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cardsCount {
        justify-content: center;
    }
    .updated {
        justify-content: flex-end;
    }
    .button {
        width: 60px;
        height: 30px;
    }
}